.content {
	font-family: 'Open Sans', sans-serif;
	h1 {
	font-size: 1.4em;
	font-weight: strong;
	}
	h2 {
	font-size: 1.2em;
	font-weight: strong;
	}
	h3 {
	font-size: 1.1em;
	font-weight: strong;
	}
	h4 {
	font-size: 1.0em;
	font-weight: strong;
	}
	h5 {
	font-size: 1.0em;
	font-weight: strong;
	}
	h6 {
	font-size: 1.0em;
	font-weight: strong;
	}
}
