{{- $inServerMode := .Site.IsServer }}
{{- $sass         := "style.sass" }}
{{- $cssTarget    := "css/style.css" }}
{{- $cssOpts      := cond ($inServerMode) (dict "targetPath" $cssTarget "enableSourceMap" true) (dict "targetPath" $cssTarget "outputStyle" "compressed") }}
{{- $fontFace     := replace .Site.Params.font.name " " "+" }}
{{- $fontSizes    := delimit .Site.Params.font.sizes "," }}
<!--
{{- $fontUrl      := printf "https://fonts.googleapis.com/css?family=%s:%s" $fontFace $fontSizes }}
-->
<!-- Only load the used icon(s) at page render and defer the rest to later. -->
<link rel="preload" as="style" type="text/css" href="{{ "css/icons.css" | relURL }}">
<link rel="icon" type="image/png" href="{{ "images/favicon.png" | relURL }}" />
<!--
<link href="{{ $fontUrl }}" rel="stylesheet">
-->
<!--
<link rel="stylesheet" href="{{ "/css/fonts.min.css" }}" type="text/css" charset="utf-8">
-->
{{- if $inServerMode }}
{{- $css := resources.Get $sass | toCSS $cssOpts }}
<link rel="stylesheet" type="text/css" href="{{ $css.RelPermalink }}">
{{- else }}
{{- $css := resources.Get $sass | toCSS $cssOpts | minify }}
<link rel="stylesheet" type="text/css" href="{{ $css.RelPermalink }}">
{{- end }}
<!-- This now loads directly from the style tags below for performance reasons.
<link rel="stylesheet" type="text/css" href="{{ "css/forms.css" | relURL }}">
-->

<!-- This is the 'rest' mentioned above. That's all we need for the very start and it makes things
    very responsive :). 
    Icons, contact form and fonts.
-->
<style>

@font-face{font-family:FontAwesome;src:url(../fonts/fontawesome-webfont.eot?v=4.6.3);src:url(../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3) format('embedded-opentype'),url(../fonts/fontawesome-webfont.woff2?v=4.6.3) format('woff2'),url(../fonts/fontawesome-webfont.woff?v=4.6.3) format('woff'),url(../fonts/fontawesome-webfont.ttf?v=4.6.3) format('truetype'),url(../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular) format('svg');font-weight:400;font-style:normal;font-display:swap}

<!-- Contact form CSS for better performance -->
.contact-form .is-medium,.contact-form textarea,.newsletter-form .is-medium,.newsletter-form textarea{margin-bottom:.5rem;font:inherit}.contact-form .is-medium:not(:placeholder-shown):valid,.newsletter-form .is-medium:not(:placeholder-shown):valid,.newsletter-form textarea:not(:placeholder-shown):valid{background-color:#f4feee}.contact-form .is-medium:not(:placeholder-shown):invalid,.contact-form textarea:not(:placeholder-shown):invalid,.newsletter-form .is-medium:not(:placeholder-shown):invalid,.newsletter-form textarea:not(:placeholder-shown):invalid{background-color:#fff0f0}.js-submitted .is-medium:valid,.js-submitted textarea:valid{background-color:#f4feee}.js-submitted .is-medium:invalid,.js-submitted textarea:invalid{background-color:#fff0f0}.hidden{display:none}.alert-success{color:#155724;background-color:#d4edda;border-color:#c3e6cb}.alert-error{color:#721c24;background-color:#f8d7da;border-color:#f5c6cb}.alert-warning{color:#856404;background-color:#fff3cd;border-color:#ffeeba}.alert{position:relative;padding:.75rem 1.25rem;margin-bottom:1rem;border:1px solid transparent;border-top-color:transparent;border-right-color:transparent;border-bottom-color:transparent;border-left-color:transparent;border-radius:.25rem}.contact-form button {margin:10px;}

<!-- Used fonts for faster performance -->
@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local('Open Sans Regular'),local('OpenSans-Regular'),url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFWJ0bbck.woff2) format('woff2');unicode-range:U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F font-display: swap}@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local('Open Sans Regular'),local('OpenSans-Regular'),url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFUZ0bbck.woff2) format('woff2');unicode-range:U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116 font-display: swap}@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local('Open Sans Regular'),local('OpenSans-Regular'),url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFWZ0bbck.woff2) format('woff2');unicode-range:U+1F00-1FFF font-display: swap}@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local('Open Sans Regular'),local('OpenSans-Regular'),url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVp0bbck.woff2) format('woff2');unicode-range:U+0370-03FF font-display: swap}@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local('Open Sans Regular'),local('OpenSans-Regular'),url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFWp0bbck.woff2) format('woff2');unicode-range:U+0102-0103,U+0110-0111,U+1EA0-1EF9,U+20AB font-display: swap}@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local('Open Sans Regular'),local('OpenSans-Regular'),url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFW50bbck.woff2) format('woff2');unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF font-display: swap}@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local('Open Sans Regular'),local('OpenSans-Regular'),url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;font-display:swap}

</style>
