{{- $footer      := .Site.Params.footer }}
{{- $logo        := index $footer "logo" }}
{{- $quickLinks  := index $footer "quicklinks" }}
{{- $socialMedia := index $footer "socialmedia" }}
{{- $bulmaLogo   := index $footer "bulmalogo" }}
{{- $socialMediaTitle    := index $footer "socialmediatitle" }}
<footer class="footer footer-dark">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="footer-logo">
          <img src="{{ printf "/images/logos/%s" $logo | relURL }}" alt="hedwig Wissensgraph">
        </div>
      </div>
      {{- range $quickLinks }}
        <div class="column">
          <div class="footer-column">
            <div class="footer-header">
                <h3>{{ .title }}</h3>
            </div>
            <ul class="link-list">
              {{- range .links }}
              <li>
                <a href="{{ .link }}">
                  {{ .text }}
                </a>
              </li>
              {{- end }}
            </ul>
          </div>
        </div>
      {{- end }}
      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <h3>{{ $socialMediaTitle }}</h3>
            <nav class="level is-mobile">
              <div class="level-left">
                {{- range $socialMedia }}
                <a class="level-item" href="{{ .link }}">
                  <span class="icon"><i class="fa fa-{{ .icon }}"></i></span>
                </a>
                {{- end }}
              </div>
            </nav>

            {{- if $bulmaLogo }}
            <a href="https://bulma.io" target="_blank">
              <img src="{{ "/images/logos/made-with-bulma.png" | relURL }}" alt="Made with Bulma" width="128" height="24">
            </a>
            <div class="attribution">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
            {{- end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="/jquery-3.4.1.min.js"></script>
<script>
$(document).ready(function(){

    // Contact form
    $('.contact-form').each(function () {
        var $contact_form = $(this);
        var $submit_button = $contact_form.find('.submit');
        var submit_action = '/contactform.php';

        // Display the hidden form.
        $contact_form.removeClass('hidden');
        // Remove the "no javascript" messages
        $('.no-js').detach();

        // Wait for a mouse to move, indicating they are human.
        $('body').mousemove(function () {
            // Unlock the form.
            $contact_form.attr('action', submit_action);
            $submit_button.attr('disabled', false);
        });

        // Wait for a touch move event, indicating that they are human.
        $('body').on('touchmove', function () {
            // Unlock the form.
            $contact_form.attr('action', submit_action);
            $submit_button.attr('disabled', false);
        });

        // A tab or enter key pressed can also indicate they are human.
        $('body').keydown(function (e) {
            if ((e.keyCode === 9) || (e.keyCode === 13)) {
                // Unlock the form.
                $contact_form.attr('action', submit_action);
                $submit_button.attr('disabled', false);
            }
        });

        // Mark the form as submitted.
        $submit_button.click(function () {
            $contact_form.addClass('js-submitted');
        });

        // Display messages.
        if (location.search.substring(1) !== '') {
            switch (location.search.substring(1)) {
                case 'submitted':
                    $('.alert-success').removeClass('hidden');
                    break;

                case 'error':
                    $('.alert-error').removeClass('hidden');
                    break;
            }
        }
    });
});
</script>
