{{- $section6 := .Site.Params.section6 }}
{{- $title    := index $section6 "title" }}
{{- $tiles    := index $section6 "tiles" }}
<section class="section section-feature-grey is-medium">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">{{ $title }}</h2>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="columns is-multiline">
        {{- range $tiles }}
        <div class="column is-half">
          <div class="feature-card is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">

            <div class="card-image">
              <figure class="image is-2by1">
                <img src="{{ printf "/images/team/%s" .image | relURL }}" alt="Archiv Suche">
              </figure>
            </div>
            <div class="card-title">
              <h4>{{ .title }}</h4>
            </div>
            <div class="card-text">
              <p>{{ .abschluss }}</p>
              <p class="is-small">{{ .text }}</p>
            </div>

            <div class="card-action">
              <a href="mailto:{{ .mail }}" class="button btn-align-md accent-btn raised">Mail</a>
            </div>
          </div>
        </div>
        {{- end }}
      </div>
    </div>
  </div>
</section>
