<a id="contact"></a>
<section class="section section-light-grey is-medium">
    <!-- 
        Script moved to themes/hugo-fresh/layouts/partials/footer.html for faster response.
<script src="/jquery-3.4.1.min.js"></script>
<script>
$(document).ready(function(){

    // Contact form
    $('.contact-form').each(function () {
        var $contact_form = $(this);
        var $submit_button = $contact_form.find('.submit');
        var submit_action = '/contactform.php';

        // Display the hidden form.
        $contact_form.removeClass('hidden');
        // Remove the "no javascript" messages
        $('.no-js').detach();

        // Wait for a mouse to move, indicating they are human.
        $('body').mousemove(function () {
            // Unlock the form.
            $contact_form.attr('action', submit_action);
            $submit_button.attr('disabled', false);
        });

        // Wait for a touch move event, indicating that they are human.
        $('body').on('touchmove', function () {
            // Unlock the form.
            $contact_form.attr('action', submit_action);
            $submit_button.attr('disabled', false);
        });

        // A tab or enter key pressed can also indicate they are human.
        $('body').keydown(function (e) {
            if ((e.keyCode === 9) || (e.keyCode === 13)) {
                // Unlock the form.
                $contact_form.attr('action', submit_action);
                $submit_button.attr('disabled', false);
            }
        });

        // Mark the form as submitted.
        $submit_button.click(function () {
            $contact_form.addClass('js-submitted');
        });

        // Display messages.
        if (location.search.substring(1) !== '') {
            switch (location.search.substring(1)) {
                case 'submitted':
                    $('.alert-success').removeClass('hidden');
                    break;

                case 'error':
                    $('.alert-error').removeClass('hidden');
                    break;
            }
        }
    });
});
</script>
-->

  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 is-spaced">Schreib uns deine Meinung </h2>
      <h3 class="subtitle is-5 is-muted">Wir freuen uns von dir zu hören!</h3>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-6 is-offset-3">
        <div class="alert alert-success hidden"><p>Danke für deine Nachricht. Wir melden uns umgehend bei dir.</p></div>
        <div class="alert alert-error hidden"><p>Es ist ein Fehler aufgetreten. Hast du eine gültige Mailadresse angegeben?</p></div>
          <form class="contact-form" method="POST" action="#">
            <div class="columns is-multiline">
              <div class="column is-6">
                <input class="input is-medium" type="text" name="name" required placeholder="Dein Name">
              </div>
              <div class="column is-6">
                <input class="input is-medium" type="email" name="email" required placeholder="Deine Mailadresse">
              </div>
              <div class="column is-12">
                <textarea class="textarea" rows="10" name="message" required placeholder="Schreib uns eine Nachricht..."></textarea>
              </div>
              <div class="form-footer has-text-centered mt-10">
                <p><input type="checkbox" name="dsgvo" value="confirmed" required> Ich akzeptiere die <a href="/datenschutz">Datenschutzbestimmungen.</a></p>
                <button class="button cta is-large primary-btn raised is-clear submit" disabled>Abschicken</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="alert alert-warning no-js"><p>Bitte aktiviere JavaScript, um das Kontaktformular zu nutzen.</p></div>
    </div>
  </div>
</section>
