.contact-form input, .contact-form textarea, .newsletter-form textarea, .newsletter-form input {
    margin-bottom: 0.5rem;
    font: inherit;
}
.contact-form input:not(:placeholder-shown):valid, .contact-form input:not(:placeholder-shown):valid, .newsletter-form input:not(:placeholder-shown):valid, .newsletter-form textarea:not(:placeholder-shown):valid {
    background-color: #f4feee;
}
.contact-form input:not(:placeholder-shown):invalid, .contact-form textarea:not(:placeholder-shown):invalid, .newsletter-form input:not(:placeholder-shown):invalid, .newsletter-form textarea:not(:placeholder-shown):invalid {
    background-color: #fff0f0;
}
.js-submitted input:valid, .js-submitted textarea:valid {
    background-color: #f4feee;
}
.js-submitted input:invalid, .js-submitted textarea:invalid {
    background-color: #fff0f0;
}

.hidden {
    display: none;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-error {
    color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}

.alert-warning {
	color: #856404;
	background-color: #fff3cd;
	border-color: #ffeeba;
}

.alert {
	position: relative;
	padding: .75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-radius: .25rem;
}
